.wd-maincontent{

    display:flex;
}

.wd-left{
    width: 25%;
    float: left;
 
}

.wd-centering{
    width: 46%;
    float: left;

}

.wd-right{
    width: 29%;
    float: left;
 
}

.wd-avatar{

    border-radius: 50%;
    width: 48px;
    height: 48px;
    border-left: 16px;
    border-top: 12px;
    
    
}

.wd-user1
{
    border-color: rgb(47, 51, 54); 
    border-width: 1px ;
    display: flex;
    border-style: solid;
    padding-bottom: 12px;
    
 
}

.wd-user span
{
    color: lightgrey;
    font-size: 13px;
    padding: 0 0 0px 16px;

}
.wd-user h3 {
    color: white;
    font-size: 20px;
    padding: 12px 0 0 16px;
    margin-bottom: 0;
}
.wd-sectionb{
    display: flex;
    border-left: 16px;
    border-color: rgb(47, 51, 54);
    padding-left: 16px;
}
.wd-leftrightcontent
{
    display: flex;
    padding: 12px 0 0 0;
    border-color: rgb(47, 51, 54); 
    border-width: 1px ;
    border-style: solid;
    padding-bottom: 10px;
 
}
.wd-sectionc{
    padding: 0 0 0 12px;
    border-left: 12px;
}

.wd-sectionc .name{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.wd-sectionc span{
    color: #D0CEC3;
    font-size: 15px;
}
.wd-sectionc1 {
    display: flex;
}

.wd-content
{
    color: white;
    font-size: 15px;
    width: 506px;

}

.wd-class
{
    border-radius: 15px;
    width: 504px;
    height: 264px;
    
}
.wd-user-content {
    color: white;
    font-size: 15px;
    padding: 0px 0px 12px 12px;
    border-radius: 5%;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}
.wd-user2
{
    color: #D0CEC3;
    font-size: 15px;
    width: 506px;

}


.wd-tuiticon
{
    display: flex;
    justify-content: space-between;

}
.wd-tuiticon a{
    color: lightgray;
    
}
.wd-tuiticon .heart {
    color: red;
}

.wd-number {
    padding-left: 12px;
}
.wd-ellipse
{
    color:blue;
    padding: 40px 0 0 410px;
    size: 12px;
}

.wd-ellipse1
{
    color:lightgray;
    padding: 0 0 0 185px;

}

.wd-ellipse2
{
    color:lightgray;
    padding: 0 0 0 90px;

}